.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

html {
position: relative;
min-height: 100%;
}

body {
    background: url('../img/background.png');
}